html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    overflow-x: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
    object-fit: contain;
    aspect-ratio: 3/2;
    mix-blend-mode: color-burn;
}

.main-content {
    flex: 1;
}

.section {
    margin-top: 50px;
    padding: 20px;
}

.about-section {
    padding: 60px 0;
}

.about-img img {
    border-radius: 50%;
    width: 100%;
    max-width: 300px;
    height: auto; 
}

.about-text h2,
.about-desc h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about-text p {
    font-size: 18px;
    line-height: 1.5;
}

.about-desc p {
    font-size: 20px;
    line-height: 1.5;
}

.alert-soft-success {
    background-color: #e6f4ea;
    color: #2d6a4f;
    border: 1px solid #b7dfc5;
}


footer {
    color: #ffffff;
    padding: 20px;
    width: 100%;
}